.header > h3 {
	margin: 0;
}

.header {
	padding-bottom: 10px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;

	padding-top: 1rem;
	margin: 0 2rem;

	@media screen and (max-width: 768px) {
		margin: 0 1rem;
	}
}

.headerLinks {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	gap: var(--mantine-spacing-md);

	@media screen and (max-width: 768px) {
		display: none;
	}
}

.link {
	position: relative;
	text-decoration: none;
	color: white;
	padding-bottom: 3px;
	height: fit-content;
	cursor: pointer;
}

.link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px; /* Height of the border */
	background-color: var(--mantine-color-violet-7); /* Color of the border */
	transition: width 0.3s ease;
}

.link:hover::after {
	width: 100%; /* Full width on hover */
}
