.title {
	font-size: rem(30px) !important;
	font-weight: 600;
}

.header {
	height: 100%;
	padding-bottom: 10px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;

	padding-top: 1rem;
	margin: 0 3rem;

	@media screen and (max-width: 768px) {
		margin: 0 1rem;
	}
}

.headerLinks {
	display: flex;

	font-family: Epilogue;
	font-size: 17px;
	gap: 2rem;

	@media screen and (max-width: 768px) {
		display: none;
	}
}

.link {
	position: relative;
	text-decoration: none;
	padding-bottom: 3px;
	height: fit-content;
	cursor: pointer;
	font-size: 1rem;

	@mixin dark {
		color: white;
	}

	@mixin light {
		color: black;
	}
}

.link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px; /* Height of the border */
	background-color: var(--mantine-color-violet-7); /* Color of the border */
	transition: width 0.3s ease;
}

.link:hover::after {
	width: 100%; /* Full width on hover */
}
