.container {
	height: fit-content;
	min-height: fit-content;
	margin: 0 4rem;

	display: flex;
	flex-direction: row;

	@media screen and (max-width: 768px) {
		margin: 0;
	}
}

.leftSection {
	width: 80%;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 768px) {
		width: 100%;
		word-break: break-word;
	}
}

.jobTitle {
	font-size: rem(20px);
	font-family: var(--font-epilogue);
	font-weight: 600;

	@media screen and (max-width: 768px) {
		text-align: center;
	}
}

.title {
	margin-top: 0.5rem;
	margin-bottom: 2rem;

	font-size: rem(68px);
	font-weight: 600;
	letter-spacing: 0.2rem;

	@media screen and (max-width: 768px) {
		font-size: rem(50px);
	}
}

.subTitle {
	font-size: rem(20px);
}

.socials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: rem(50px);
	gap: 1rem;
	width: 3rem;
	margin-left: auto;

	@media screen and (max-width: 768px) {
		display: none;
	}
}

.socials svg {
	height: 3rem;
	width: 3rem;
	cursor: pointer;
}

.ctaButton {
	background-color: #2d2d2d;
	color: white;

	font-family: var(--font-epilogue);
	font-weight: 600;
	padding: 24px 64px;
}

.ctaContainer {
	margin-top: 3rem;
	width: fit-content;
	max-height: fit-content;

	@media screen and (max-width: 768px) {
		margin-left: auto;
		margin-right: auto;
	}
}

.ctaButton:hover {
	background-color: var(--mantine-color-violet-7);
}

.socials svg:hover > path {
	fill: var(--mantine-color-violet-7);
}
